@charset "utf-8";
/* v1.0 | 2022-06-08 */


/*
	대분류
*/
/* 소분류 */


/*
	color
*/
.color01 { color: #FF0000 !important; }/* 2024-09-09 2024고도화 : 색상 변경 */
.color02 { color: #2F6DFC !important; }/* 2024-09-09 2024고도화 : 색상 변경 */
.color03 { color: #2F6DFC !important; }/* 2024-09-09 2024고도화 : 색상 변경 */
.color04 { color: #1e4066 !important; }
.color05 { color: #707070 !important; }
.color06 { color: #f8c029 !important; }
.color07 { color: #303030 !important; }
.color08 { color: #2F6DFC !important; }/* 2024-09-09 2024고도화 : 색상 변경 */
.color08 { color: #2F6DFC !important; }/* 2024-09-09 2024고도화 : 색상 변경 */


/*
	정렬
*/
/* 세로정렬 */
.va_t { vertical-align: top !important; }
.va_c { vertical-align: middle !important; }
.va_b { vertical-align: bottom !important; }

/* 가로정렬 */
.txt_l { text-align: left !important; }
.txt_c { text-align: center !important; }
.txt_r { text-align: right !important; }
.text_r { text-align: right !important; }



/*
	width
*/
/* % */
.w100per { width: 100% !important; }



/*
	줄떨어짐
*/
.wordk { word-break: keep-all !important; }



/*
	margin
*/
.mt80 { margin-top: 80px !important; }
.mt70 { margin-top: 70px !important; }
.mt60 { margin-top: 60px !important; }
.mt50 { margin-top: 50px !important; }
.mt40 { margin-top: 40px !important; }
.mt30 { margin-top: 30px !important; }
.mt20 { margin-top: 20px !important; }
.mt18 { margin-top: 18px !important; }
.mt15 { margin-top: 15px !important; }
.mt12 { margin-top: 12px !important; }
.mt10 { margin-top: 10px !important; }
.mt8 { margin-top: 8px !important; }

.ml10 { margin-left: 10px !important; }



/*
	padding
*/
.pd0 { padding: 0 !important; }
.pd20 { padding: 20px !important; }
.pdt10 { padding-top: 10px !important; }
.pdb10 { padding-bottom: 10px !important; }

/*
	font
*/
.fwb{font-weight: bold; }