@import "../../resource/css/prism.css"; /*[v4.0] 추가*/

/*html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;line-height:1}*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
/*
input[type="checkbox"],
input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
*/
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/*html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body{font-size:1.6rem;line-height:1.42857143;color:#333;background-color:#fff}*/
input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}
a{color:#0076c0;text-decoration:none}
a:hover,a:focus{/*color:#0076c0;*/text-decoration:none}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
figure{margin:0}
img{vertical-align:middle}
ul,ol,li,dt,dd{margin:0;padding:0;list-style:none}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:inherit;font-weight:inherit;margin:0;padding:0}
caption{display:none}
em{font-style:normal;color:#555}
fieldset{border:0;padding:0;margin:0}
fieldset legend{position:absolute;hanging-punctuation:0;width:0;opacity:0}
input[type=text],
input[type=password],
input[type=number]{-webkit-appearance:none}
input[type=number]{text-align:right}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
input[type=text]::-ms-clear,
input[type=password]::-ms-clear,
input[type=number]::-ms-clear{display:none}
html,body{height:100%;overflow:auto;-webkit-user-select:auto;user-select:auto;}
table{width:100%; border-left:1px solid #ddd;} 
tr:hover{background:#eee;}
td, th{font-size:12px; padding:5px;}
th{color:#000; background:#fefefe;border-bottom:1px solid #aaa; border-right:1px solid #aaa;}
td{ border-bottom:1px solid #ddd; border-right:1px solid #ddd; color:#555; text-align: center;}
td.tit{ color:#333; font-weight:bold;}
td.sbj{ text-align: left; }
td.link{ text-align: left; }
td:last-child{ color:red}
td[class^="tit"]{} 
td.comment{ text-align: left;width: 20% }

::-webkit-scrollbar{width:6px; height:6px; border-left:0; background:#f8f9f9;}
::-webkit-scrollbar-track{background-color:#f8f9f9;}
::-webkit-scrollbar-thumb{border-radius:3px; background:#ccc;}
::-webkit-scrollbar-thumb:hover{background:#999;}


.guide_wrap .link_notice{ position: relative; margin-bottom: 40px;  }
.guide_wrap .link_notice table{ border-top:2px solid #444; background-color: #fff;}
.guide_wrap .link_notice.on{ padding-right: 20%;}
.guide_wrap .link_notice .noti_comment{ display: none; position: fixed; right: 0; top: 40px; width: 18%; height: 95%; margin-right: 1%; border:1px solid #999; background-color: #f9f9f9; }
.guide_wrap .link_notice .noti_comment .wrap{ padding: 10px; }
.guide_wrap .link_notice .noti_comment .wrap > strong{ display: block; margin-bottom: 10px; color:red;}
.guide_wrap .link_notice .noti_comment .wrap pre{ white-space: pre-wrap; font-size: 13px;}
.guide_wrap .link_notice.on .noti_comment{ display:block; }
.guide_wrap.line_top td{ border-top: 2px solid #666; }
.guide_wrap .link_notice .complete{background-color:rgba(255, 247, 153, 0.7);}
.guide_wrap .link_notice .complete.today{font-weight: bold; color: #000;background-color:rgba(255, 247, 153, 1);}
.guide_wrap .link_notice .del td:not(:last-of-type){text-decoration: line-through; background-color: #eee;}
.guide_wrap .link_notice .del td:last-of-type { background-color: #eee;}
.guide_wrap .tab{overflow:hidden;}
.guide_wrap .tab > li{float:left;}
.guide_wrap .tab > li >a{display:block; padding:10px 20px; background:#dedede; color:#666;}
.guide_wrap .tab > li.on > a{ background:#32373c; color:#fff; font-weight:bold;}
.guide_wrap .red{ color:red;}
.guide_wrap .calc{ position:absolute; right:20px; top:20px; z-index: 10;}
.guide_wrap .calc .fine{color:red;}
.guide_wrap .top, .guide_wrap .notice{ position: fixed; right:10px; bottom:10px; z-index:100; background:#333; width:50px; height:50px; text-align:center; line-height:50px; color:#fff; border-radius:50%;}
.guide_wrap .notice{ bottom: 65px; background: #0073aa;}
.guide_wrap{ height:100%;position:relative;padding-left:250px;background:#0196a2;}
.guide_wrap .container{width: 100%; height: 100%; background: #ddd;overflow: hidden;}
.guide_wrap .container iframe{ height: 100%; margin: 0; padding: 0}
.guide_wrap .leftmenu{position:absolute;left:0;top:0;height:100%;width:250px;overflow:auto;}
.guide_wrap .leftmenu > ul{ padding:0 15px; margin-bottom: 50px; background-color: rgba(255,255,255, 0.07); }
.guide_wrap .leftmenu li > span,
.guide_wrap .leftmenu li > a {display:block;padding:8px 0;color:#fff;opacity:0.8;}
.guide_wrap .leftmenu li > span {opacity:1;}
.guide_wrap .leftmenu li.on > a { opacity: 1; font-weight:bold;}
.guide_wrap .leftmenu a:hover{text-decoration:underline;opacity:1;}
.guide_wrap .submenu {}
.guide_wrap .submenu li > a{position:relative; padding:5px 5px 5px 12px;font-size:12px;font-weight:normal;border-bottom:none;opacity:0.6;}
.guide_wrap .submenu li > a::before{content: "";position:absolute; top:50%; left:0; width:5px; height:1px; background:#fff;}
.guide_wrap .leftmenu li.on .guide_wrap .submenu li > a{opacity:1}
.guide_wrap .leftmenu .title{ font-size:18px; font-weight: bold; color: #f0f0f0; padding:10px 12px;font: bold 18px/24px tahoma;text-shadow: 1px 1px 1px #111;}

.guide_wrap .leftmenu .desc{padding:0 20px 20px 10px; text-align:right; color:#fff}
.guide_wrap .leftmenu .desc a{display:inline-block; color:#fff}

.guide_wrap .contetns, .guide.contetns{ padding: 20px; background-color: #f0f0f0; min-height: 100%; }

.aside_link {position:relative; background:#fff; color:#555; display:block;  margin:20px 10px; padding:15px; text-transform:uppercase; border-radius:5px; box-shadow:0 0 10px #222;}
.aside_link span {font:normal 10px 'verdana'; display:block; color:#777;}

.guide {padding:20px;}
.guide > h1 , .link_notice h1{font-size: 18px;font-weight: bold;height: 40px;border-bottom: 1px dashed #999;margin-bottom: 20px;}
.guide > article {margin-bottom: 30px;}
.guide > article > h2{font-size: 16px;color: #000;font-weight: bold;margin-bottom: 5px;}
.guide > article:after {content: "";display: block;clear: both;height: 0;}
.guide > article > .view {padding: 15px;box-sizing: border-box;background: #fff;border:1px solid #ddd;}
.guide > article > .view > .item {margin-bottom:30px;}
.guide > article > .view > .item > h3 {font-size: 13px;color: #333;font-weight: bold;text-decoration: underline;margin-top: 30px;margin-bottom: 5px;}
.guide > article > .view > .item > h3:first-child {margin-top: 0;}



.btn-wrap-footer .btn-area {position:relative !important;}
.des{font-size:12px; color:red;}

/*mobile*/
.mobile {height: auto;}
.mobile .guide_wrap{ padding-left: 0 }
.mobile .guide_wrap .leftmenu{position: relative; min-width: auto;left:auto;top:auto; height: auto; width: 100%; }
.mobile .guide_wrap .leftmenu > ul{display: flex; margin-bottom: 0;}
.mobile .guide_wrap .leftmenu > ul > li{ flex:1; }
.mobile .aside_link{position: absolute; right: 0; top:0; margin: 10px 10px 0 0}
.mobile .aside_link span{ display: inline-block;; }
.mobile .guide_wrap .container{overflow: auto; height: auto;}
.mobile .guide_wrap .container iframe{height: calc(100% - 120px);}

/* item_box */
.guide > article > .view > .item .item_box{display:flex; width:100%; border:1px solid #ddd;}
.guide > article > .view > .item .item_box .source{position:relative; width:50%; padding:20px; min-height:250px;}
.guide > article > .view > .item::after{content: ""; display: block; clear: both; height: 0;}

.guide > article > .view > .item .item_box .code_view {width:50%}
.guide > article > .view > .item .item_box .code_view{min-height:250px;margin:0; background-color:#f0f0f4; overflow:auto;overflow-x:hidden;overflow-y:auto;}
.guide > article > .view > .item .item_box .code_view pre[class*="language-"] {margin:0; background-color:#f0f0f4}
.guide > article > .view > .item .item_box .code_view pre[class*="language-"] > code{background-color:#f0f0f4}




