@charset "utf-8";
@import url('reset.css');
@import url('fonts.css');


/* pc */
.wrapper{position:relative; width:100%; height:100%;}
.header{padding:8rem 10rem;}
.header .h1{font-weight:100; font-size:5rem}
.header .btn_menu{position:absolute; top:10rem; right:10rem; width:6rem; height:4.4rem;}
.header .btn_menu::before{content:""; position:absolute; top:0; left:0; display:block; width:4.5rem; height:0.4rem; background-color:#000; z-index:1}
.header .btn_menu::after{content:""; position:absolute; top:calc(100% - 0.4rem);  left:0; display:block; width:3.2rem; height:0.4rem; background-color:#000; z-index:1}
.header .btn_menu > button{display:block; width:6rem; height:4.4rem;}
.header .btn_menu > button::before{content:""; position:absolute; top:calc(50% - 0.2rem); left:0; display:block; display:block; width:6rem; height:0.4rem; background-color:#000; z-index:1}
.header .btn_menu > button::after{content:""; position:absolute; top:calc(50% - 0.2rem); left:calc(50% - 0.2rem); width:0; height:0; border-radius:1rem; background:#ededed; transition:all 0.3s ease-in-out;  }
.header .btn_menu > button:hover::after{top:-2rem; left:-1rem; width:8rem; height:8rem;}

/* tablets & mobile */
@media screen and (max-width:987px){


}



/* only tablets */
@media screen and (min-width:768px) and (max-width:987px){
	
}



/* only mobile */
@media screen and (max-width:767px){

}



/* only mobile_세로일때만 */
@media screen and (max-width:567px){
	
}



@media screen and (max-width:320px){

}
