@charset "utf-8";
@import url('fonts.css');
@import url('reset.css');
@import url('sub.css');


.overflow{overflow:hidden;}

/* pc */
.wrapper{position:relative; width:100%; height:100%;}
.header{padding:8rem 10rem;}
.header .h1{font-weight:100; font-size:5rem; color:#000; transition:color 3.5s; transition-delay:0.3s;}
.header .btn_menu{position:absolute; display:block; top:10rem; right:10rem; width:6rem; height:4.4rem; }
.header .btn_menu::before{content:""; position:absolute; top:0; left:0; display:block; width:4.5rem; height:0.4rem; background-color:#000; z-index:1; }
.header .btn_menu::after{content:""; position:absolute; top:calc(100% - 0.4rem);  left:0; display:block; width:3.2rem; height:0.4rem; background-color:#000; z-index:1}
.header .btn_menu > button{display:block; width:6rem; height:4.4rem;}
.header .btn_menu > button::before{content:""; position:absolute; top:calc(50% - 0.2rem); left:0; display:block; width:6rem; height:0.4rem; background-color:#000; z-index:1}
.header .btn_menu > button::after{content:""; position:absolute; top:calc(50% - 0.2rem); left:calc(50% - 0.2rem); width:0; height:0; border-radius:1rem; background:#ededed; transition:all 0.3s ease-in-out;  }
.header .btn_menu > button:hover::after{top:-2rem; left:-1rem; width:8rem; height:8rem; }
.header .btn_menu.active{ mix-blend-mode:difference; }
.header.blendMode{position:relative; mix-blend-mode:difference;}
.header.blendMode .h1{color:#fff;}
.header.blendMode .btn_menu{display:none;}
.header.blendMode .btn_menu::before,
.header.blendMode .btn_menu::after,
.header.blendMode .btn_menu > button::before{background-color:#fff;}

.full_menu{position:absolute; top:0; right:0; width:100%; height:0; border-radius:0 0 0 0; background:#030303; overflow:hidden; z-index:100; transition:all 0.8s ease-in-out}
.full_menu .menu_head{padding:8rem 10rem;}
.full_menu .menu_head .menu_tit{position:absolute; top:8rem; left:10rem; font-weight:100; font-size:5rem; color:#fff; opacity:0; transition:all 1s}
.full_menu .btn_close{position:absolute; display:block; top:10rem; right:10rem; width:4rem; height:4rem; z-index:102}
.full_menu .btn_close::before{content:""; position:absolute; top:calc(50% - 0.2rem); left:0; display:block; width:4rem; height:0.2rem; border-radius:1rem; background-color:#fff; z-index:1; opacity:0; transition:all 1s;}
.full_menu .btn_close::after{content:""; position:absolute; top:calc(50% - 0.2rem); left:0; display:block; width:4rem; height:0.2rem; border-radius:1rem; background:#fff;  z-index:1; opacity:0; transition:all 1s; }
.full_menu .menu_list > li{line-height:28rem;}
.full_menu .menu_list > li a{font-size:20rem; font-weight:100; color:#fff}
.full_menu .menu_list > li a .point{font-weight:400;}

.full_menu.active{display:block; top:0; right:0; width:100%; height:100%; border-radius:0; }
.full_menu.active .menu_head .menu_tit{opacity:1}
.full_menu.active .btn_close::before{top:calc(50% - 0.2rem); opacity:1; transform:rotate(-45deg);}
.full_menu.active .btn_close::after{top:calc(50% - 0.2rem); opacity:1; transform:rotate(45deg);}

.visual_sec{padding:8rem 10rem 30rem;}
.visual_sec .profile{position:relative; display:flex; justify-content:space-between;} 
.visual_sec .profile p{font-size:4rem; font-weight:400; } 
.visual_sec .profile + .slogan{margin-top:20rem;}
.visual_sec .slogan .main_txt{font-size:20rem; font-weight:100; line-height:24rem;}
.visual_sec .slogan .main_txt strong{display:inline-block; margin-left:8rem; font-weight:700;}

.ani_box .item_ani01{background:url(../img/img_ani01.png) no-repeat 0 0; }


.card_box{width:200px; height:200px; background:#ededed; border-radius:10px;transition:transform 0.8s; transform-style:preserve-3d;}
.card_box:hover{transform: rotateY(180deg);}
 
.scale_box{position:relative; width:200px; height:200px; background:#ededed; border-radius:30px; overflow:hidden; }
.scale_box .item{position:absolute; top:50px; left:50px; width:100px; height:100px; background:#000; opacity:0.5; border-radius:10px; transform: rotate3d(1, 1, 1, -15deg); transition:all 1s}
.scale_box .item img{display:block; width:100%;}
.scale_box:hover .item{top:0; left:0; width:200px; height:200px; opacity:1;  transform: rotate3d(1, 1, 1, 0deg);}
@keyframes rotate-axis {
    from {
        transform: skew(60deg, 0deg);
        border-radius:50px;
    }
    to {
        transform: skew(0deg, 0deg);
        border-radius:30px;
    }
}



.cursor {
    position: absolute;
    z-index: 10000;
    height: var(--circle);
    width: var(--circle);
    transform: scale(1);
    border-radius: 50%;
    transition: all 0.35s, top 0s, left 0s;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  
  .cursor.first-cursor {
    background-color: #fff;
    --circle: 15px
  }
  
  .cursor.second-cursor {
    background-color: none;
    border: 3px solid #fff5;
    --circle: 50px;
  }
  
  .cursor.first-cursor.big {
    --circle: 140px;
  }
  
  .cursor.second-cursor.big { 
    --circle: 0;
    border-width: 0;
  }
  
  /* wrap-white */
  .wrap-white .cursor.first-cursor {
    background-color: #ddd;
  }
  
  .wrap-white .cursor.second-cursor {
    border: 3px solid #ccc;
  }
  
  .wrap-white .cursor.first-cursor.big {
    background-color: #f1f1f1;
  }
  
  .wrap-white .sns-list li a,
  .wrap-white a.footer-more {
    color: #191a1e;
  }
  
  .wrap-white .menu li,
  .wrap-white a.footer-more::after {
    background-color: #191a1e;
  }
  
  @media screen and (max-width: 1200px) {
    .header h1 a {
      top: 25px;
      width: 13px;
      height: 120px;
    }
  
    .status {
      padding-top: 20px;
      font-size: 12px;
    }
  
    .menu {
      top: 25px;
    }
  
    .sns-list {
      left: 30px;
    }
  
    .sns-list li a {
      padding: 5px 0;
    }
  
    .nav-wrap > div {
      max-width: 900px;
      padding: 0 90px 0 110px;
      /* max-width: 800px; */
    }
  
    .nav, .contact {
      vertical-align: middle;
    }
  
    .contact img {
      width: 90px;
    }
  
    .nav li {
      padding: 15px 0;
    }
  
    .nav li a {
      font-size: 32px;
    }
  
    .contact .copy {
      padding-top: 100px;
    }
  
    .footer {
      height: 110px;
      background-size: cover;
    }
  
    .footer p {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 790px) {
    .header h1 a {
      display: none;
      left: 30px;
    }
  
    .nav-wrap {
      background-position: 0 0;
    }
  
    .header.open .sns-list {
      display: block;
    }
  
    .contact {
      display: none;
    }
  
    .nav {
      width: 100%;
      display: block;
    }
  
    .nav li a {
      font-size: 25px;
    }
  
    .cursor {
      display: none;
    }
  
    * {
      cursor: auto;
    }
  
    a, .menu {
      cursor: pointer;
    }
  }


/* only tablets */
@media screen and (min-width:768px) and (max-width:1400px){
	.header{padding:4rem 4rem;}
    .header .btn_menu{top:5rem; right:4rem;}   

    .full_menu .menu_list > li{line-height:14rem;}
    .full_menu .menu_list > li a{font-size:10rem;}

    .visual_sec{padding:4rem 4rem 10rem;}
    .visual_sec .profile{display:block; text-align:right} 
    .visual_sec .profile p{font-size:3rem;} 
    .visual_sec .profile + .slogan{margin-top:10rem;}
    .visual_sec .slogan .main_txt{font-size:10rem; line-height:12rem;}
    .visual_sec .slogan .main_txt strong{margin-left:0;}
}



/* only mobile */
@media screen and (max-width:767px){
    .header{padding:3rem 3rem;}
    .header .h1{font-size:3rem}
    .header .btn_menu{top:4rem; right:3rem; width:3rem; height:2.2rem; }   
    .header .btn_menu::before{top:0; left:0; width:2.3rem; height:0.2rem;}
    .header .btn_menu::after{top:calc(100% - 0.2rem); left:0; width:1.6rem; height:0.2rem;}
    .header .btn_menu > button{width:3rem; height:2.2rem;}
    .header .btn_menu > button::before{top:calc(50% - 0.1rem); left:0; width:3rem; height:0.2rem;}
    .header .btn_menu > button::after{top:calc(50% - 0.1rem); left:calc(50% - 0.1rem); width:0; height:0;}
    .header .btn_menu > button:hover::after{top:-1rem; left:-0.5rem; width:4rem; height:4rem; }

    .full_menu .menu_head{padding:3rem 3rem;}
    .full_menu .menu_head .menu_tit{top:3rem; left:3rem; font-size:3rem;}
    .full_menu .btn_close{top:4rem; right:3rem; width:3rem; height:3rem;}
    .full_menu .btn_close::before{width:3rem; height:0.2rem;}
    .full_menu .btn_close::after{width:3rem; height:0.2rem;}
    .full_menu .menu_list > li{line-height:7rem;}
    .full_menu .menu_list > li a{font-size:5rem;}

    .visual_sec{padding:4rem 3rem 10rem;}
    .visual_sec .profile{display:block; text-align:right} 
    .visual_sec .profile p{font-size:1.5rem;}
    .visual_sec .profile + .slogan{margin-top:5rem;}
    .visual_sec .slogan .main_txt{font-size:5rem; line-height:7rem;}
    .visual_sec .slogan .main_txt strong{margin-left:0;}
}



/* only mobile_세로일때만 */
@media screen and (max-width:567px){
	
}



@media screen and (max-width:320px){

}


/* tablets & mobile */
@media screen and (max-width:987px){
    
    
   
    
   
    

    

   


}