@charset "utf-8";

/* font */
@font-face {
    font-family:'NotoSans';font-weight:normal;
	src:url('../font/NotoSansKR-Regular.woff') format('woff'), url('../font/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
    font-family:'NotoSans';font-weight:bold;
	src:url('../font/NotoSansKR-Medium.woff') format('woff'), url('../font/NotoSansKR-Medium.otf') format('opentype');
}

/*  */
:root {
    /* size */
    --navSize:230px;
    --navMinusSize:-230px;
    --prevSize:392px;
    --prevMinusSize:-392px;
    /* color */
    --primaryColor:#238789;
    --fontBasicColor:#303030;
}

/* reset */
html, body {height:100%;font-family:'NotoSans','Apple SD Gothic Neo','맑은고딕','MalgunGothic',sans-serif;color:var(--fontBasicColor);font-size:16px;letter-spacing:-0.2px;}
body, button, dd, dl, dt, fieldset, form, input, legend, li, ol, p, select, table, td, textarea, th, ul, h1, h2, h3, h4, h5, h6 {margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;outline:none;border:none;}
caption, legend {overflow:hidden;position:absolute;margin:-1px;width:1px;height:1px;clip:rect(0 0 0 0);color:transparent;}
table {border-collapse:collapse;}
a {display:inline-block;color:inherit;text-decoration:none;outline:none;}
a:hover {text-decoration:none;}
ol, ul {list-style:none;}
em {font-style:normal;}

/* common */
.h1 {padding:0 15px;font-size:18px;font-weight:normal;}
.h2 {padding-left:30px;font-size:20px;font-weight:normal;}
.h2:before {content:'';display:inline-block;margin-right:7px;width:4px;height:13px;background-color:var(--primaryColor);border-radius:1px;}
.align-c {text-align:center;}
.blind {overflow:hidden;position:absolute;margin:-1px;width:1px;height:1px;clip:rect(0 0 0 0);color:transparent;}

/* wrap */
#wrap {height:100%;}

/* nav */
#nav {z-index:100;position:fixed;left:var(--navMinusSize);top:0;bottom:0;padding-top:30px;width:var(--navSize);color:#fff;background-color:var(--primaryColor);transition:0.5s;}
.nav-active #nav {left:0;}
.btn-nav-toggle {position:absolute;top:0;right:-35px;overflow:hidden;width:35px;height:35px;cursor:pointer;background-color:#bbb;border:none;border-radius:0 0 5px 0;transition:0.5s;}
.btn-nav-toggle:hover {background-color:#aaa;}
.btn-nav-toggle:before,
.btn-nav-toggle:after {content:'';position:absolute;left:2px;height:1px;width:15px;background-color:#fff;}
.btn-nav-toggle:before {top:12px;left:11px;transform:rotate(45deg);}
.btn-nav-toggle:after {top:22px;left:11px;transform:rotate(-45deg);}
.nav-active .btn-nav-toggle:before {top:12px;left:8px;transform:rotate(-45deg);}
.nav-active .btn-nav-toggle:after {top:22px;left:8px;transform:rotate(45deg);}
.nav-menu {margin:50px 15px 0;}
.nav-menu-item + .nav-menu-item {margin-top:5px;}
.nav-menu-link {display:block;padding:10px;font-size:14px;font-weight:normal; border:1px solid var(--primaryColor); background-color:#2A9DA0;}
.nav-menu-link:hover {background-color:var(--primaryColor); border:1px solid rgba(255,255,255, 0.4)}
.nav-menu-link.active {border:1px solid rgba(255,255,255, 0.4)}
.sub-nav-links {margin-top:20px;}
.sub-nav-item {padding-left:10px;}
.sub-nav-item:before {content:'';display:inline-block;margin-right:7px;width:3px;height:3px;vertical-align:middle;background-color:#86aaff;}
.sub-nav-link {font-size:12px;font-weight:normal;}
.sub-nav-link:hover,
.sub-nav-link.active {text-decoration:underline;}

/* content */
#contents {position:relative;flex:1;padding-left:0;padding-bottom:70px;transition:0.5s;}
.nav-active #contents {padding-left:var(--navSize);}

@media (min-width:1600px) {
    .prev-active #contents {margin-right:375px;}
}

/* guide-header */
.guide-header {display:flex;padding-top:40px;}
.status-area {flex-grow:1;padding-top:7px;padding-right:40px;text-align:right;}

/* content */
.content {padding:10px 30px;}

/* table */
.page-list-table {width:100%;font-size:13px;border-top:1px solid #ddd;}
.page-list-table tr:hover {background-color:#EDF6FD;}
.page-list-table .th,
.page-list-table .td {border-bottom:1px solid #ddd;}
.page-list-table .th {padding:10px 3px;background-color:#eee;}
.page-list-table .td {padding:5px 3px;}
/*
[data-pagepart="MW"]:before,
[data-pagepart="MA"]:before {display:inline-block;margin-right:3px;padding:0 3px;min-width:20px;text-align:center;font-size:11px;color:#fff;border-radius:3px;}
[data-pagepart="MW"]:before {content:'MW';background-color:#005a42;}
[data-pagepart="MA"]:before {content:'MA';background-color:#009870;}
[data-pagenew="true"]:after,
[data-textonly="true"]:after {display:inline-block;margin-left:3px;min-width:13px;height:13px;line-height:13px;font-size:9px;text-align:center;color:#fff;font-weight:bold;}
[data-pagenew="true"]:after {content:'N';background-color:rgba(255, 0, 0, 0.615);border-radius:3px;}
[data-textonly="true"]:after {content:'문구';padding-left:3px;padding-right:3px;background-color:#7000ff9e;border-radius:3px;}
*/
.text-memo + .text-memo {margin-top:5px;}
.text-memo {line-height:1.2;color:#777;font-size:12px;}
.text-memo:before {content:attr(data-date);margin-right:2px;font-size:11px;font-weight:bold;color:var(--primaryColor);}
[data-status="진행"]:before,
[data-status="완료"]:before,
[data-status="삭제"]:before {display:inline-block;}
[data-status="진행"]:before {content:'진행'}
[data-status="완료"]:before {content:'완료';color:var(--primaryColor);}
[data-status="삭제"]:before {content:'삭제';color:#999;}
.link-id:hover {color:var(--primaryColor);}
.del-tr *,
.del-tr .link-id:hover {text-decoration:line-through;background-color:#f7f7f7;}
[data-markup-modified="true"] {color:#009870;}

/* status */
.status-item {display:inline-block;padding:3px 10px;font-size:13px;color:#666;background-color:#eee;border-radius:12px;}
.status-item .num {font-weight:bold;color:var(--fontBasicColor);}

/* preview */
.preview {display:block;position:fixed;top:0;right:var(--prevMinusSize);width:392px;height:100%;background-color:#fff;border-left:1px solid #ccc;border-top:none;border-right:none;border-bottom:none;transition:0.5s;}
.btn-preview-toggle {position:fixed;top:0;right:0;width:35px;height:35px;cursor:pointer;background-color:#bbb;border-radius:0 0 0 5px;transition:0.5s;}
.btn-preview-toggle:hover {background-color:#aaa;}
.btn-preview-toggle:before,
.btn-preview-toggle:after {content:'';position:absolute;left:2px;height:1px;width:15px;background-color:#fff;}
.btn-preview-toggle:before {top:12px;left:8px;transform:rotate(-45deg);}
.btn-preview-toggle:after {top:22px;left:8px;transform:rotate(45deg);}
.prev-active .btn-preview-toggle:before {top:12px;left:11px;transform:rotate(45deg);}
.prev-active .btn-preview-toggle:after {top:22px;left:11px;transform:rotate(-45deg);}
.prev-active .btn-preview-toggle {right:var(--prevSize);}
.prev-active .preview {right:0;}

/* fixed-btn */
.btn-top {position:fixed;right:20px;bottom:30px;width:35px;height:35px;color:#fff;cursor:pointer;background-color:var(--fontBasicColor);border-radius:50%;transition:0.5s;}
.btn-top:hover {background-color:#636363;}
.prev-active .btn-top {right:422px;}

.hidden-area{z-index:110;position:fixed;left:0;bottom:0;color:var(--primaryColor);}

/* PC */
.preview-pc {display:none;z-index:100;position:fixed;left:20px;bottom:20px;width:1540px;height:1040px;background-color:#fff;border:10px solid #666;box-shadow:3px 3px 25px 0px rgba(0,0,0,0.5);
    -ms-transform: scale(0.35);
    -moz-transform: scale(0.35);
    -o-transform: scale(0.35);
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    
    -ms-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.preview-pc .preview {position:fixed;top:initial;right:initial;width:100%;height:100%;border:none;
    /* -ms-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; */
}
.btn-close-preview {position:absolute;top:-110px;width:100px;height:100px;cursor:pointer;background:#666;border-radius:5px 5px 0 0;}
.btn-close-preview:before,
.btn-close-preview:after {content:'';position:absolute;top:50%;left:50%;height:1px;width:70px;background-color:#fff;}
.btn-close-preview:before {transform:translate(-50%, -50%) rotate(-45deg);}
.btn-close-preview:after {transform:translate(-50%, -50%) rotate(45deg);}

/*  퍼블리싱 Guide */
.guide-content {display:flex;}
.guide-nav-link {font-size:12px;}
.guide-nav + .guide-section-box {margin-left:50px;}

.guide-nav {padding-top:20px;width:100px;}
.guide-nav-link {display:block;padding:5px;border-bottom:1px dotted #ddd;}
.guide-nav-link:before {content:'';display:inline-block;margin-top:-2px;margin-right:7px;width:3px;height:2px;vertical-align:middle;background-color:var(--primaryColor);}
.guide-nav-link:hover {background-color:#f7f7f7;}

.guide-section-box {flex:1;padding-top:20px;width:calc(100% - 300px);}
.guide-sections .guide-section + .guide-section {margin-top:50px;}
.guide-sections {padding:0 30px 50px 50px;}
.guide-sections .h3 {font-size:22px;color:#000;}
.guide-sections .h3:before {content:'';display:inline-block;margin-top:-3px;margin-right:8px;width:8px;height:8px;vertical-align:middle;background-color:#aaa;}
.guide-sections .h3 + .guide-section > .p {margin-top:15px;}
.guide-sections .h3 + .guide-section > .p + .p {margin-top:5px;}
.guide-sections .guide-section .h4 {margin-top:15px;padding-left:10px;font-size:18px;color:#333;}
.guide-sections .guide-section .h4:before {content:'';display:inline-block;margin-right:7px;margin-top:-3px;width:4px;height:4px;vertical-align:middle;border:2px solid rgb(143, 165, 255);border-radius:5px;}
.guide-sections .guide-section .h5 {font-size:14px;}
.guide-sections .guide-section .h5.rounded {display:inline-block;margin-top:15px;margin-left:20px;padding-left:10px;padding-right:10px;color:#fff;height:20px;line-height:20px;background-color:rgb(143, 165, 255);border-radius:10px;}
.guide-sections .guide-section .p {padding-left:23px;font-size:14px;color:#666;}

.guide-code-box + [class*='h'] {margin-top:30px!important;}
[class*='h'] + .p {margin-top:15px;}
.syntaxhighlighter {font-size:13px!important;}
.guide-prev-box,
.guide-code-box {margin-left:20px;}
.guide-prev-box {margin-top:15px;padding:30px 20px;border:1px solid #ddd;border-bottom:none;}
.guide-prev-box .guide-prev {width:375px;}
.guide-code-box {border:1px solid #ddd;}
.guide-prev-title {margin-bottom:10px;font-weight:bold;font-size:13px;}

.frame-pageview {width:100%;}
.guide-nav + a.btn-outlink {margin-top:20px;}
a.btn-outlink {display:block;padding:5px;font-size:12px;color:#fff;text-align:center;background-color:#0ab285;border-radius:15px;}
a.btn-outlink:hover {background-color:#0aa179;}


/* media query */
@media (max-width:768px) {    
    #nav br,
    .nav-menu,
    .btn-nav-toggle,
    .preview,
    .btn-preview-toggle {display:none;}
    #nav {position:relative;left:0;padding-top:15px;padding-bottom:15px;width:100%;}    
    .nav-active #contents {padding-left:0;}
    .guide-header {padding-top:10px;}
    .status-area {padding-right:10px;}
    .content {padding-left:10px;padding-right:10px;}
    .hidden-area {position:absolute;color:#fff;}
}

@media (max-width:414px) {
    .guide-header {display:block;}
    .h2 {padding-left:10px;}
    .status-area {margin-top:10px;}
    .page-list-table col:nth-child(1),
    .page-list-table col:nth-child(2),
    .page-list-table col:nth-child(3),
    .page-list-table col:nth-child(4),
    .page-list-table col:nth-child(5),
    .page-list-table col:nth-child(8),
    .page-list-table col:nth-child(9),
    .page-list-table col:nth-child(10),
    .page-list-table col:nth-child(11),
    .page-list-table th:nth-child(1),
    .page-list-table th:nth-child(2),
    .page-list-table th:nth-child(3),
    .page-list-table th:nth-child(4),
    .page-list-table th:nth-child(5),
    .page-list-table th:nth-child(8),
    .page-list-table th:nth-child(9),
    .page-list-table th:nth-child(10),
    .page-list-table th:nth-child(11),
    .page-list-table td:nth-child(1),
    .page-list-table td:nth-child(2),
    .page-list-table td:nth-child(3),
    .page-list-table td:nth-child(4),
    .page-list-table td:nth-child(5),
    .page-list-table td:nth-child(8),
    .page-list-table td:nth-child(9),
    .page-list-table td:nth-child(10),
    .page-list-table td:nth-child(11) {display:none;}
}

@media (max-width:375px) {
    .status-item + .status-item {margin-top:5px;}
}