@charset "utf-8";

@import url('fonts.css');
@import url('reset.css');

.header{ position:fixed; display:flex; width:100%; justify-content: space-between;}
.header:before{content:""; display:block; position:absolute; top:0; left:0; width:100%; height:4rem; backdrop-filter: blur(0.5rem); box-shadow:0.4rem 0 1.6rem rgba(0, 0, 0, 0.08); z-index:0; }
.header > *{position:relative; z-index: 1;}


/*==================================================*/
body {
	font-family: "Century Gothic", "Lato", sans-serif;
  }
  
  a {
	text-decoration: none;
  }
  
  .et-hero-tabs,
  .et-slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
	background: #eee;
	text-align: center;
	padding: 0 2em;
  }
  .et-hero-tabs h1,
  .et-slide h1 {
	font-size: 2rem;
	margin: 0;
	letter-spacing: 1rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
	font-size: 1rem;
	letter-spacing: 0.3rem;
	opacity: 0.6;
  }
  
  .et-hero-tabs-container {
	display: flex;
	flex-direction: row;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	
	z-index: 10;
  }
  .et-hero-tabs-container:before{content:""; display:block; position:absolute; top:0; left:0; width:100%; height:70px; backdrop-filter: blur(0.5rem); box-shadow:0.4rem 0 1.6rem rgba(0, 0, 0, 0.08); z-index:0; }
  .et-hero-tabs-container > *{position:relative; z-index: 1;} 
  .et-hero-tabs-container--top {
	position: fixed;
	top: 0;
  }
  
  .et-hero-tab {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	color: #000;
	letter-spacing: 0.1rem;
	transition: all 0.5s ease;
	font-size: 0.8rem;
  }
  .et-hero-tab:hover {
	color: white;
	background: rgba(102, 177, 241, 0.8);
	transition: all 0.5s ease;
  }
  
  .et-hero-tab-slider {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 6px;
	background: #66B1F1;
	transition: left 0.3s ease;
  }
  
  @media (min-width: 800px) {
	.et-hero-tabs h1,
  .et-slide h1 {
	  font-size: 3rem;
	}
	.et-hero-tabs h3,
  .et-slide h3 {
	  font-size: 1rem;
	}
  
	.et-hero-tab {
	  font-size: 1rem;
	}
  }

/* loading */
.loading{display:none; position:absolute; top:0;}
.loading .circle_box{position:relative; width:200px; height:200px; }
.loading .circle_box .circle1{animation:circle_move1 1.5s linear infinite; position:absolute; top:0; left:0; width:56px; height:56px; border-radius:100%; background:#FFBB37}
.loading .circle_box .circle2{animation:circle_move2 1.5s linear infinite; position:absolute; top:12px; left:60px; width:32px; height:32px; border-radius:100%; background:#273D56}
@keyframes circle_move1 {
	0% {
		top:12px;
		left:0;
		width:32px;
		height:32px;
		z-index:1;
	}
	25% {
		top:0;
		left:30px;
		width:56px;
		height:56px;
		z-index:1;
	}
	50% {
		top:12px;
		left:60px;
		width:32px;
		height:32px;
		z-index:0;
	}
	75% {
		top:15px;
		left:30px;
		width:26px;
		height:26px;
		z-index:0;
	}
	100% {
		top:12px;
		left:0;
		width:32px;
		height:32px;
		z-index:0;
	}
}
@keyframes circle_move2 {
	0% {
		top:12px;
		left:60px;
		width:32px;
		height:32px;
		z-index:0;
	}
	25% {
		top:15px;
		left:30px;
		width:26px;
		height:26px;
		z-index:0;
	}
	50% {
		top:12px;
		left:0;
		width:32px;
		height:32px;
		z-index:0;
	}
	75% {
		top:0;
		left:30px;
		width:56px;
		height:56px;
		z-index:1;
	}
	100% {
		top:12px;
		left:60px;
		width:32px;
		height:32px;
		z-index:1;
	}
}