@charset "utf-8";

/* sticky nav */
.text_greeting + .prod_nav_list,
.products_unit + .products_unit {margin-top:20px;}
.products_area {padding-top:20px;}
.prod_nav_list {display:flex;flex-wrap:nowrap;overflow-x:scroll;overflow-y:hidden;background-color:skyblue;}
.prod_nav_list.active {position:fixed;top:55px;margin-top:0;left:0;right:0;}
.prod_nav_list.active + .products_area {margin-top:30px;}
.prod_nav_item + .prod_nav_item {margin-left:10px;}
.prod_nav_item {flex:0 0 auto;}
.prod_nav_link {padding:5px 5px;border:none;background:none;}
.prod_nav_link.active {color:red;}
.products_unit {height:150px;border:1px solid green;}

/* gnb */
.gnb_wrap {display:flex;align-items:stretch;}
.gnb_items,
.gnb_total {overflow-y:auto;height:100%;}
.gnb_items {width:150px;background-color:#eee;}
.new_gnb_link {display:block;padding:10px;}
.new_gnb_link.active {background-color:#fff;}

.gnb_total {position:relative;flex-grow:1;}
.gnb_totalitems {position:relative;}
.gnb_totalitem {border-bottom:5px solid #ddd;}
.gnb_item_title {display:block;padding:5px 10px;font-size:15px;font-weight:bold;border-bottom:1px solid #ddd;}
.gnb_item_title.active {position:fixed;top:110px;width:100%;color:red;background-color:#fff;}
.gnb_item_title.active + ul {padding-top:32px;}
.gnb_total_link {display:block;padding:5px 10px;font-weight:normal;font-size:14px;}

/* dragging bottom-sheet */
.contents_area.product-intro,
.contents_area.product-intro .contents {padding:0;}
.desc-area {height:400px;background-color:#ddd;}

.dragging-bs {position:fixed;bottom:0;width:100%;background-color:skyblue;}
.btn-handle {display:block;width:100%;height:30px;border:none;}
.btn-handle:before {content:'';display:block;margin:0 auto;padding:0;width:40px;height:5px;border:none;background-color:#ccc;}

/* card flip */
.card-list {display:flex;padding:30px;background-color:#eee;}
.card-item + .card-item {margin-left:10px;}
.card-item {perspective:2000px; }
.cards {position:relative;width:250px;height:300px;transition:transform 0.8s;transform-style:preserve-3d;}
.card-item:hover .cards {transform: rotateY(180deg);}
.card {width:250px;height:300px;border-radius:15px;}
.card-front,
.card-back {position:absolute;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.card-front {background-color:yellowgreen;}
.card-back {background-color:rgb(25, 84, 0);transform: rotateY(180deg);}

/* 테스트 목록 */
.ui-test-p + .ui-test-list {margin-top:5px;}
.ui-test-list {padding-left:20px;width:100%;max-width:400px;border-top:2px solid #0765e5;}
.ui-test-item {padding-left:10px;list-style:decimal;font-size:10px;border-bottom:1px solid #eee;}
.ui-test-item::marker {border-right:1px solid #ccc;border-radius:20px;}
.ui-test-item:hover {background-color:#f7f7f7;}
.ui-test-link {display:inline-block;padding:10px;font-size:13px;}
.ui-test-link:hover {color:#0765e5;}