@charset "utf-8";
/* 변수 - 추후 취합 */
:root {
    --primaryColor : #2F6DFC;
    --grayColor01 : #303030;
    --grayColor02 : #707070;
    --grayColor03 : #909090;
    --grayColor04 : #F3F4F8;
    --pointColor01 : #FFD400;
    --pointColor02 : #FF0000;
}

/* 공통 */
.alL {text-align:left;}
.tit_big {font-size:26px;font-weight:600;}
.text_normal {font-size:14px;font-weight:400;color:var(--grayColor02);}
.text_point_01 {color:var(--pointColor01);}/* 토스트 포인트 컬러 */
.ebbtn.ty_solid {height:40px;line-height:40px;font-size:14px;background-color:var(--grayColor04);border-radius:10px;}
.ebbtn.full {width:100%;}
.ebbtn.btn_small,
.ebbtn.btn_small_wh {padding:0 16px;height:29px;line-height:29px;font-size:13px;font-weight:400;border-radius:12px;}
.ebbtn.btn_small {color:#fff;background-color:#0A47D6;}
.ebbtn.r_arrow {position:relative;padding-right:16px;}
.ebbtn.r_arrow:after {content:'';display:inline-block;margin-left:4px;width:9px;height:11px;background:url('../image/main/ico_arrow_9x13.png') no-repeat;background-size:100%;}
.ebbtn.btn_small_wh {color:var(--grayColor02);background-color:#fff;}
.ebbtn.btn_small_wh.r_arrow:after {background:url('../image/main/ico_arrow_9x13_white.png') no-repeat;background-size:100%;}
.ebbtn.btn_sm_main {padding:0 12px;color:#fff;font-size:13px;font-weight:400;height:29px;line-height:29px;background-color:var(--primaryColor);border-radius:12px;}
.btn_box.w_equal {display:flex;}
.btn_box.w_equal .box_l,
.btn_box.w_equal .box_r {width:50%;}

/* 공통- as is */
.renewal_2024 .contents_bottom_area.ty_fixed .box_l {width:40%;}
.renewal_2024 .contents_bottom_area.ty_fixed .box_r {width:calc(60% - 10px);}
.page_subtitle_part .sub_info {margin-top:6px;color:var(--primaryColor);}
.ebullet_circle .color01 {color:var(--pointColor02)!important;}
.ebullet_circle .color03 {color:var(--primaryColor)!important;}
.modal_popup .page_title_part.sm .title {font-size:18px;}

/* 캡션 */
.renewal_2024 .form_pack + .caption_text {margin-top:12px;}
.renewal_2024 .section_list + .caption_box.has_divider {margin-top:32px;}
.renewal_2024 .caption_box.has_divider {position:relative;padding-top:44px;}
.renewal_2024 .caption_box.has_divider:after {content:'';position:absolute;top:0;left:-25px;right:-25px;height:12px;background-color:var(--grayColor04);}
.renewal_2024 .caption_title {padding-left:22px;font-size:17px;background:url('../image/contents/common/ico_caption.png') no-repeat left center;background-size:20px;}
.renewal_2024 .caption_title + .caption_text {margin-top:16px;}
.renewal_2024 .caption_text {font-size:14px;color:var(--grayColor02);}
.renewal_2024 .caption_text.dot {position:relative;padding-left:9px;}
.renewal_2024 .caption_text.dot:before {content:'';position:absolute;top:8px;left:0;width:3px;height:3px;border-radius:50%;background-color:var(--grayColor02);}
.renewal_2024 .caption_text + .ebbtn.ty_solid {margin-top:12px;}
.renewal_2024 .caption_text.sm {font-size:13px;color:var(--grayColor03);}

/* 메인 - 헤더 */
.header.is_scroll.renewal_2024 {border-bottom:1px solid transparent;}
.header.renewal_2024 .header_area {padding:0 20px;}
.header.renewal_2024.has_bg {background-color:var(--grayColor04);}
.header.renewal_2024 .switch_pack {margin-top:15px;width:60px;background-color:#B4BEC8;}
.header.renewal_2024 .switch_pack .eblabel {left:2px;margin-top:-11px;width:22px;height:22px;}
.header.renewal_2024 .switch_pack .eblabel:before {content:'간편';position:absolute;top:2px;left:26px;width:30px;font-size:13px;color:#fff;font-weight:normal;letter-spacing:0.5px;transition:0.3s;}
.header.renewal_2024 .switch_pack .ebcheckbox[chekced="checked"] + .eblabel,
.header.renewal_2024 .switch_pack .ebcheckbox:checked + .eblabel {left:37px;}
.header.renewal_2024 .switch_pack .ebcheckbox[chekced="checked"] + .eblabel:before,
.header.renewal_2024 .switch_pack .ebcheckbox:checked + .eblabel:before {left:-28px;}

/* 메인 - 상품 영역 공통 */
.renewal_2024 .contents {padding-bottom:40px;}
.renewal_2024 .main_section {z-index:1;position:relative;margin:0 -25px;padding:40px 20px;}
.renewal_2024 .main_section:first-child {padding-top:20px;}
.renewal_2024 .main_section.odd {background-color:#fff;border-radius:0 44px 0 44px;}
.renewal_2024 .main_section.odd:first-child {border-radius:0 0 0 44px;}
.renewal_2024 .main_section.odd:before,
.renewal_2024 .main_section.odd:after {content:'';position:absolute;width:44px;height:44px;background-color:#fff;}
.renewal_2024 .main_section.odd:before {top:-44px;left:0;}
.renewal_2024 .main_section.odd:after {bottom:-44px;right:0;}
.renewal_2024 .main_section.odd:first-child:before {display:none;}
.renewal_2024 .main_section.even {z-index:10;background-color:#F4F5F9;border-radius:0 44px 0 44px;}
.renewal_2024 .text_section_title + .section_content {margin-top:16px;}
.renewal_2024 .section_content {padding:0 20px 20px;background-color:#fff;border-radius:18px 36px 18px 36px;box-shadow:0px 10px 40px -8px rgba(0, 0, 0, 0.15);}
.renewal_2024 .section_content .btn_normal {height:52px;line-height:52px;font-size:16px;font-weight:700;color:var(--primaryColor);background-color:#F2F5FF;border-radius:10px 20px 10px 20px;}
.renewal_2024 .text_section_title {font-size:19px;font-weight:bold;}
.renewal_2024 .text_section_title:after {content:'';display:inline-block;margin-top:-4px;margin-left:4px;width:20px;height:20px;vertical-align:middle;}
.renewal_2024 .text_section_title.ico_01:after {background:url('../image/main/ico_product_mini_01.png') no-repeat;background-size:100% 100%;}/* 신용대출 */
.renewal_2024 .text_section_title.ico_02:after {background:url('../image/main/ico_product_mini_02.png') no-repeat;background-size:100% 100%;}/* 스탁론 */
.renewal_2024 .text_section_title.ico_03:after {background:url('../image/main/ico_product_mini_03.png') no-repeat;background-size:100% 100%;}/* 자동차금융 */
.renewal_2024 .text_section_title.ico_04:after {background:url('../image/main/ico_product_mini_04.png') no-repeat;background-size:100% 100%;}/* 그 외 */
.renewal_2024 .text_head_title {font-size:20px;font-weight:bold;color:#fff;}
.renewal_2024 .text_head_title em {font-style:normal;color:#ffd400;}
.renewal_2024 .text_head_title + .ebbtn.btn_small,
.renewal_2024 .text_head_title + .ebbtn.btn_small_wh  {margin-top:12px;}
.renewal_2024 .section_content_head {position:relative;margin-left:-20px;margin-right:-20px;padding:20px;height:150px;background:var(--primaryColor) url('../image/layout/bg_nh_text_01.png') no-repeat right bottom;background-size:167px auto;border-radius:18px 36px 18px 36px;box-sizing:border-box;}
.renewal_2024 .section_content_head.ico_01:after,
.renewal_2024 .section_content_head.ico_02:after,
.renewal_2024 .section_content_head.ico_03:after {content:'';position:absolute;right:20px;bottom:-20px;}
.renewal_2024 .section_content_head.ico_04:after,
.renewal_2024 .section_content_head.ico_05:after,
.renewal_2024 .section_content_head.ico_06:after {content:'';position:absolute;right:16px;bottom:-27px;}
.renewal_2024 .section_content_head.ico_01:after {width:82px;height:115px;background:url('../image/main/img_character_01.png') no-repeat right bottom;background-size:100% auto;}/* 1위:신용대출 */
.renewal_2024 .section_content_head.ico_02:after {width:82px;height:115px;background:url('../image/main/img_character_01.png') no-repeat right bottom;background-size:100% auto;}/* 2위:스탁론 */
.renewal_2024 .section_content_head.ico_03:after {width:82px;height:115px;background:url('../image/main/img_character_01.png') no-repeat right bottom;background-size:100% auto;}/* 3위:자동차금융 */
.renewal_2024 .section_content_head.ico_04:after {width:140px;height:130px;background:url('../image/main/bg_banner_product_140x130_11.png') no-repeat right bottom;background-size:100% auto;}/* 2위:신용대출 */
.renewal_2024 .section_content_head.ico_05:after {width:140px;height:130px;background:url('../image/main/bg_banner_product_140x130_12.png') no-repeat right bottom;background-size:100% auto;}/* 2위:스탁론 */
.renewal_2024 .section_content_head.ico_06:after {width:140px;height:130px;background:url('../image/main/bg_banner_product_140x130_13.png') no-repeat right bottom;background-size:100% auto;}/* 2위:자동차금융 */
.swiper-slide {/*padding-left:20px;padding-right:20px;*/box-sizing:border;}

/* 메인 - 로그인 문구 */
.renewal_2024 .status_toast + .main_section.even.first {margin-top:-20px;}
.renewal_2024 .main_section.even.first {padding-top:20px;padding-bottom:24px;}
.renewal_2024 .login_greeting {padding-left:4px;font-size:18px;font-weight:500;}
.renewal_2024 .login_greeting strong {font-weight:700;}

/* 메인 - 1위 영역 */
.renewal_2024 .section_content_head + .product_keywords {margin-top:40px;margin-right:-10px;}
.renewal_2024 .product_keywords + .btn_normal {margin-top:22px;}
.renewal_2024 .product_keywords {display:flex;flex-wrap:wrap;}
.renewal_2024 .product_keyword {margin-right:10px;margin-bottom:10px;padding:0 14px 0 14px;height:37px;line-height:37px;font-size:15px;letter-spacing:-0.5px;background-color:#F2F5FF;border-radius:20px;}
.renewal_2024 .product_keyword:before {content:'';display:inline-block;margin-right:5px;width:18px;height:18px;vertical-align:middle;}
.renewal_2024 .product_keyword.ico_01:before {background:url('../image/main/ico_mini_keyword_18x18_01.png') no-repeat top -1px center;background-size:18px 18px;}/* 신용대출 > 금액 */
.renewal_2024 .product_keyword.ico_02:before {background:url('../image/main/ico_mini_keyword_18x18_02.png') no-repeat top -1px center;background-size:18px 18px;}/* 신용대출 > 금리 */
.renewal_2024 .product_keyword.ico_03:before {background:url('../image/main/ico_mini_keyword_18x18_03.png') no-repeat top -1px center;background-size:18px 18px;}/* 신용대출 > 직업1 */
.renewal_2024 .product_keyword.ico_04:before {background:url('../image/main/ico_mini_keyword_18x18_04.png') no-repeat top -1px center;background-size:18px 18px;}/* 신용대출 > 직업2*/
.renewal_2024 .product_keyword.ico_05:before {background:url('../image/main/ico_mini_keyword_18x18_05.png') no-repeat top -1px center;background-size:18px 18px;}/* 신용대출 > 직업3 */
.renewal_2024 .product_keyword.ico_06:before {background:url('../image/main/ico_mini_keyword_18x18_06.png') no-repeat top -1px center;background-size:18px 18px;}/* 직업1 */
.renewal_2024 .product_keyword.ico_07:before {background:url('../image/main/ico_mini_keyword_18x18_07.png') no-repeat top -1px center;background-size:18px 18px;}/* 직업2 */
.renewal_2024 .product_keyword.ico_08:before {background:url('../image/main/ico_mini_keyword_18x18_08.png') no-repeat top -1px center;background-size:18px 18px;}/* 직업3 */

/* 메인 - 1위, 바로가기  */
.renewal_2024 .section_content_head + .product_reclinks {margin-top:40px;}
.renewal_2024 .product_reclinks {display:flex;/*justify-content:space-between;padding:0 12px 20px 12px;*/margin-left:-8px;margin-right:-8px;padding-bottom:12px;}
.renewal_2024 .product_reclinks .product-recitem {width:33.3%;text-align:center;}
.renewal_2024 .product_reclinks .product_reclink {display:block;font-size:14px;text-align:center;}
.renewal_2024 .product_reclinks .product_reclink:before {content:'';display:block;margin:0 auto 12px auto;width:62px;height:62px;border-radius:20px;}
.renewal_2024 .product_reclinks .product_reclink.ico_01:before {background:var(--grayColor04) url('../image/main/ico_product_link_01.png') no-repeat center center;background-size:36px auto;}/* 자동차 - 신차구입 */
.renewal_2024 .product_reclinks .product_reclink.ico_02:before {background:var(--grayColor04) url('../image/main/ico_product_link_02.png') no-repeat center center;background-size:35px auto;}/* 자동차 - 자동차리스 */
.renewal_2024 .product_reclinks .product_reclink.ico_03:before {background:var(--grayColor04) url('../image/main/ico_product_link_03.png') no-repeat center left 18px;background-size:30px auto;}/* 자동차 - 장기렌터카 */

/* 메인 - 자주찾는 서비스 */
.renewal_2024 .product_reclinks.has_img .product_reclink:before {display:none;}
.renewal_2024 .product_reclinks.has_img .product_icon {margin:0 auto 12px auto;width:62px;height:62px;line-height:62px;background-color:var(--grayColor04);border-radius:20px;}
.renewal_2024 .product_reclinks.has_img .product_icon img {padding-top:13px;width:32px;height:auto;}
/* .renewal_2024 .product_reclinks .product_reclink.ico_11:before {background:var(--grayColor04) url('../image/main/ico_favorite_svc_32x36_01.png') no-repeat center center;background-size:32px 36px;}약정신청 */
/* .renewal_2024 .product_reclinks .product_reclink.ico_12:before {background:var(--grayColor04) url('../image/main/ico_favorite_svc_32x36_02.png') no-repeat center center;background-size:32px 36px;}전화상담 */
/* .renewal_2024 .product_reclinks .product_reclink.ico_13:before {background:var(--grayColor04) url('../image/main/ico_favorite_svc_32x36_03.png') no-repeat center center;background-size:32px 36px;}대출계산기 */

/* 메인 - 2위 영역 */
.renewal_2024 .main_section.second .section_content_head {/*height:135px;*/background:#E2E8FF url('../image/layout/bg_nh_text_02.png') no-repeat right bottom;background-size:167px auto;}
.renewal_2024 .main_section.second .text_head_title {color:var(--grayColor01);}
/* 목록 */
.renewal_2024 .section_content_head + .product_conditions {margin-top:32px;}
.renewal_2024 .product_conditions {padding-bottom:12px;}
.renewal_2024 .product_condition + .product_condition {margin-top:24px;}
.renewal_2024 .product_conditions + .ebbtn.btn_normal {margin-top:20px;}
.renewal_2024 .product_condition {display:flex;justify-content:space-between;}
.renewal_2024 .condition_item .text + .text {margin-top:8px;}
.renewal_2024 .condition_item .text {display:block;}
.renewal_2024 .condition_item .text.title {font-size:16px;font-weight:bold;}
.renewal_2024 .condition_item .text.normal {font-size:14px;color:var(--grayColor02);}
.renewal_2024 .condition_item .text.highlight {font-size:15px;font-weight:bold;color:var(--primaryColor);}
.renewal_2024 .condition_item:nth-child(even) .text.normal {text-align:right;}

/* 배너 */
.renewal_2024 .text_section_title + .product_banners,
.renewal_2024 .product_banners .banner_item + .banner_item {margin-top:20px;}
.renewal_2024 .product_banners .banner_link {display:block;padding:24px 126px 24px 20px;min-height:150px;border-radius:26px;box-sizing:border-box;}
.renewal_2024 .product_banners .banner_link.type_01 {background:#F5F6FB url('../image/main/bg_banner_product_01.png') no-repeat right 25px center;background-size:82px auto;}/* 신용대출 */
.renewal_2024 .product_banners .banner_link.type_02 {background:#E8F0FF url('../image/main/bg_banner_product_02.png') no-repeat right 25px center;background-size:82px auto;}/* 스탁론 */
.renewal_2024 .product_banners .banner_link.type_03 {background:#FFF9E3 url('../image/main/bg_banner_product_03.png') no-repeat right 25px center;background-size:82px auto;}/* 자동차금융 */
.renewal_2024 .product_banners .banner_link.type_04 {background:#E9F7F4 url('../image/main/bg_banner_product_04.png') no-repeat right 25px center;background-size:82px auto;}/* 산업재 */
.renewal_2024 .product_banners .banner_link.type_05 {background:#EEEFFF url('../image/main/bg_banner_product_05.png') no-repeat right 25px center;background-size:82px auto;}/* 주택금융 */
.renewal_2024 .product_banners .banner_title + .banner_text {margin-top:12px;}
.renewal_2024 .product_banners .banner_text + .banner_tag {margin-top:4px;}
.renewal_2024 .product_banners .banner_title {font-size:14px;font-weight:500;color:var(--primaryColor);}
.renewal_2024 .product_banners .banner_text {font-size:17px;font-weight:700;}
.renewal_2024 .product_banners .banner_tag {font-size:14px;font-weight:400;color:var(--grayColor02);}
.renewal_2024 .product_banners .banner_tag .tag {display:inline-block;padding-right:5px;}

/* 메인 - 자주찾는 서비스 */
.renewal_2024 .section_content.no_head {padding:24px 20px 25px 20px;border-radius:24px;box-shadow:0px 4px 30px -8px #0000000D;}
.renewal_2024 .section_content.no_head .section_title {font-size:17px;font-weight:700;}
.renewal_2024 .section_content.no_head .section_title + .product_reclinks {margin-top:20px;padding-bottom:0;}

/* 메인 - 하단 fixed 빠른메뉴 */
.renewal_2024 .main_gnb_part {min-height:auto}
.renewal_2024 .main_gnb_part .main_gnb_layer {background-color:#fff;border-top:none;border-radius:14px 44px 0 0;box-shadow: 0px -3px 10px 0px #0000000F;}
.renewal_2024 .main_gnb_part .main_gnb_layer .main_gnb ul {display:flex;justify-content:space-evenly;}
.renewal_2024 .main_gnb_part .main_gnb_layer .main_gnb ul > li {width:68px;}
.renewal_2024 .main_gnb_part .main_gnb_layer .main_gnb ul > li .ebbtn.btn_main_menu {padding-top:16px;padding-bottom:7px;box-sizing:border-box;}
.renewal_2024 .main_gnb_part .main_gnb_layer .main_gnb ul > li .ebbtn.btn_main_menu {font-weight:400;color:var(--grayColor01);}
.renewal_2024 .main_gnb_part .main_gnb_layer .main_gnb ul > li:first-child .ebbtn.btn_main_menu {font-weight:700;color:var(--grayColor01);}
.renewal_2024 .main_gnb_part .main_gnb_layer .main_gnb ul > li .ebbtn.btn_main_menu .ebicon {width:24px;height:24px;}
.renewal_2024 .main_gnb_part .main_gnb_layer .main_gnb ul > li .ebbtn.btn_main_menu .text {margin-top:8px;}

/* 메인 - 이벤트 swiper */
.renewal_2024 .section_content + .main_event_banners {margin-top:24px;}
.renewal_2024 .main_event_banners .swiper-container {padding-bottom:24px;}
.renewal_2024 .main_event_banners .event_banner {display:block;overflow:hidden;border-radius:24px;}
/* swiper indicator */
.renewal_2024 .swiper-pagination-bullet {margin:0 3px;width:6px;height:6px;vertical-align:middle;border-radius:3px;transition:0.3s;}
.renewal_2024 .swiper-pagination-bullet-active {width:17px;background-color:var(--primaryColor)}
.renewal_2024 .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin:0 3px;}
.renewal_2024 .swiper-controls {position:absolute;display:flex;justify-content:center;width:100%;}
.renewal_2024 .swiper-controls .swiper-pagination {position:relative;}
.renewal_2024 .swiper-controls .swiper-pagination + .swiper-toggle {margin-left:3px;}
.renewal_2024 .swiper-toggle-button {width:8px;height:8px;vertical-align:middle;background:url('../image/main/icon_swiper_pause_02.png') no-repeat center center;background-size:6px auto;}
.renewal_2024 .swiper-toggle-button.on {background:url('../image/main/icon_swiper_play.png') no-repeat center center;background-size:6px auto;}

/* 메인 - 보유건수 */
.renewal_2024 .section_content.my_total {margin-top:24px;}
.renewal_2024 .section_content.my_total {padding:0;border-radius:18px;box-sizing:border-box;}
.renewal_2024 .section_content.my_total .my_total_link {display:flex;justify-content:space-between;padding-left:62px;height:64px;line-height:64px;font-size:15px;font-weight:400;background:url('../image/main/ico_character_40x40_01.png') no-repeat left 14px top 12px; background-size:40px auto;}
.renewal_2024 .section_content.my_total .my_total_num {position:relative;padding-right:38px;font-weight:700;}
.renewal_2024 .section_content.my_total .my_total_num:before,
.renewal_2024 .section_content.my_total .my_total_num:after {content:'';position:absolute;width:10px;height:2px;background-color:var(--grayColor01);border-radius:1px;}
.renewal_2024 .section_content.my_total .my_total_num:before {top:28px;right:20px;transform:rotate(45deg);}
.renewal_2024 .section_content.my_total .my_total_num:after {top:34px;right:20px;transform:rotate(-45deg);}

/* 메인 - 보유상품 */
.renewal_2024 .section_content.my_total + .my_product {margin-top:20px;}
.renewal_2024 .section_content.my_product {position:relative;margin-bottom:27px;padding-top:24px;padding-left:10px;padding-right:10px;height:263px;background-color:var(--primaryColor);box-sizing:border-box;}
.renewal_2024 .my_product_info {position:relative;height:81px;}
.renewal_2024 .my_product_info .info_list {margin-top:0;}
.renewal_2024 .my_product_info .info_list.has_ci {position:relative;padding-left:52px;}
.renewal_2024 .my_product_info .info_list {color:#fff;font-size:14px;font-weight:normal;}
.renewal_2024 .my_product_info .info_list_item + .info_list_item {margin-top:4px;}
.renewal_2024 .my_product_info .info_list_item {font-size:13px;font-weight:400;}
.renewal_2024 .my_product_info .info_list_item:first-child {padding-right:52px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.renewal_2024 .my_product_info .info_list_item .icon_pack {position:absolute;top:0;left:0;}
.renewal_2024 .my_product_info .info_list_item .ebicon.icon_bank {width:42px;height:42px;}
.renewal_2024 .info_list_item .name {position:relative;font-size:16px;font-weight:700;}
.renewal_2024 .info_list_item .name + .name {margin-left:3px;padding-left:6px;}
.renewal_2024 .info_list_item .name + .name:before {content:'';position:absolute;top:5px;left:0;width:1px;height:14px;background-color:#D9D9D9;}
.renewal_2024 .my_product_info .dday_badge {position:absolute;top:0;right:0;}
.renewal_2024 .my_product_info .badge {display:inline-block;padding:0 8px;height:20px;line-height:20px;vertical-align:top;font-size:12px;font-weight:300;color:#fff;background-color:#18377E;border-radius:8px;}
.renewal_2024 .my_product_btm {height:142px;}
.renewal_2024 .my_product_amount .label {font-size:14px;font-weight:400;color:#fff;}
.renewal_2024 .my_product_amount .amount {display:block;line-height:42px;font-size:30px;color:#fff;}
.renewal_2024 .my_product_amount .num {font-style:normal;font-weight:700;letter-spacing:1px;}
.renewal_2024 .my_product_amount + .button_flex_box {margin-top:28px;}
.renewal_2024 .section_content.my_product .button_flex_box {display:flex;justify-content:center;}
.renewal_2024 .section_content.my_product .ty_bg {flex:1;height:46px;line-height:46px;font-size:16px;font-weight:500;color:#fff;border-radius:18px;background-color:#0A47D6;}
.renewal_2024 .section_content.my_product .ty_bg + .ty_bg {margin-left:9px;}
.renewal_2024 .section_content.my_product .swiper-controls {position:relative;margin-top:27px;}
.renewal_2024 .info_list_item .name_02:after {content:'|';padding:0 2px 0 7px;font-weight:300;font-size:12px;}
.renewal_2024 .section_content.my_product .swiper-slide {padding-left:10px;padding-right:10px;box-sizing:border-box;}

/* 메인 - 간편홈 */
.renewal_2024 .section_box + .product_simple_links {margin-top:20px;}
.renewal_2024 .section_content_head + .ebbtn.btn_normal {margin-top:48px;}
.renewal_2024 .product_simple_links {display:flex;flex-wrap:wrap;justify-content:space-between;}
.renewal_2024 .product_simple_links .product_simple_item {margin-bottom:20px;width:calc(50% - 7.5px);}
.renewal_2024 .product_simple_links .simple_link {display:block;padding:20px;height:180px;border-radius:26px;box-shadow: 0px 12px 24px -8px #00000014;box-sizing:border-box;}
.renewal_2024 .product_simple_links .simple_link.type_01 {background:#fff url('../image/main/bg_banner_product_02.png') no-repeat right 20px bottom 20px;background-size:58px 58px;}/* 스탁론 */
.renewal_2024 .product_simple_links .simple_link.type_02 {background:#fff url('../image/main/bg_banner_product_03.png') no-repeat right 20px bottom 20px;background-size:58px 58px;}/* 자동차 */
.renewal_2024 .product_simple_links .simple_link.type_03 {background:#fff url('../image/main/bg_banner_product_04.png') no-repeat right 20px bottom 20px;background-size:58px 58px;}/* 산업재 */
.renewal_2024 .product_simple_links .simple_link.type_04 {background:#fff url('../image/main/bg_banner_product_05.png') no-repeat right 20px bottom 20px;background-size:58px 58px;}/* 주택금융 */
.renewal_2024 .product_simple_links .category,
.renewal_2024 .product_simple_links .text {display:block;}
.renewal_2024 .product_simple_links .category + .text {margin-top:1px;}
.renewal_2024 .product_simple_links .category {font-size:16px;font-weight:400;color:var(--primaryColor);}
.renewal_2024 .product_simple_links .text {font-size:20px;font-weight:700;}

/* 메인 - 진행상태 알림 */
.status_toast + .main_section {padding-top:0;}
.status_toast {z-index:20;position:relative;margin:0 -5px;padding-top:18px;padding-bottom:28px;}/* 2024-08-29 2024고도화 : shadow짤림시 z-index 추가 */
.status_toast .status_toast_box {position:relative;padding:16px 20px 16px 56px;background:#fff url('../image/main/ico_alarm_24x24.png') no-repeat left 20px top 16px;background-size:24px 24px;border-radius:18px;box-shadow:0px 12px 24px -8px #00000014;}
.status_toast .status_msg + .status_link {margin-top:2px;}
.status_toast .status_msg {font-size:15px;font-weight:700;}
.status_toast .status_link {font-size:14px;font-weight:400;color:var(--grayColor02);}
.btn_status_close {position:absolute;top:-7px;right:-6px;width:26px;height:26px;border-radius:50%;background:#fff url('../image/main/btn_banner_close_dark.png') no-repeat center;box-shadow:0px 2px 8px 0px #0000001F;background-size:10px;}

/* 메인 - 모웹 */
.main_section .main_app_part {margin-top:60px;padding:0;background:none;}

/* 마이페이지 > 내정보관리 */
.renewal_2024 .form_set + .section_title {margin-top:32px;}
.renewal_2024 .section_title + .info_list {margin-top:22px;}
.renewal_2024 .info_list_row + .info_list_row {margin-top:16px;}
.renewal_2024 .linkbtn_part {padding-top:32px;}
.renewal_2024 .section_item +.section_item {padding-top:32px;}
.renewal_2024 .section_item {padding-bottom:32px;border-bottom:1px solid #f0f0f0;}
.renewal_2024 .section_item:first-child {padding-top:32px;}
.renewal_2024 .section_title {font-size:19px;}
.renewal_2024 .info_list_row {display:flex;}
.renewal_2024 .info_list_key,
.renewal_2024 .info_list_value {flex-grow:1;font-size:14px;color:var(--grayColor02);}
.renewal_2024 .info_list_key {flex-shrink:0;width:100px;}
.renewal_2024 .info_list_value {text-align:right;}

/* 마이페이지 > 내정보확인 */
.renewal_2024 [class^="form"] + .ebullet_circle,
.cs_part + .ebullet_circle {margin-top:12px;}
.renewal_2024 [class^="form"] + .ebullet_circle > li {font-size:13px;color:var(--grayColor03);line-height:1.5;}
.renewal_2024 [class^="form"] + .ebullet_circle > li:after {width:3px;height:3px;}

/* 마이페이지 > 내정보변경 */
.contents > .tab_pack:first-child,
.contents > .form_pack:first-child {margin-top:10px;}
.renewal_2024 .ebform_label.required:before {content:'*';display:inline-block;margin-right:3px;}
.renewal_2024 .ebform_label {position:relative;}
.renewal_2024 .ebform_option {position:absolute;top:0;right:0;}
.renewal_2024 .ebform_option .eblabel {font-size:12px;}

/* 마이페이지 > 진행상태조회 */
.renewal_2024 .page_subtitle_part .subtitle_notice {padding-top:12px;}
.renewal_2024 .subtitle_notice {font-size:18px;font-weight:400;letter-spacing:-0.5px;}
.renewal_2024 .subtitle_notice .text_strong {font-size:22px;font-weight:700;color:var(--grayColor01);}
.renewal_2024 .subtitle_notice em {font-style:normal;}
.renewal_2024 .section_bdonly_box:first-child {margin-top:32px;padding:24px 20px 14px;border:1px solid #e6e6e6;border-radius:22px;}
.renewal_2024 .section_bdonly_box .product_name {font-size:17px;font-weight:700;}
.renewal_2024 .section_bdonly_box .product_name + .product_info {margin-top:32px;}
.renewal_2024 .section_bdonly_box .product_info {display:flex;font-size:22px;font-weight:700;}
.renewal_2024 .section_bdonly_box .product_info .label {display:block;font-size:14px;font-weight:400;color:var(--grayColor02);}
.renewal_2024 .section_bdonly_box .product_info_item {position:relative;}
.renewal_2024 .section_bdonly_box .product_info_item:first-child {min-width:140px;padding-right:28px;}
.renewal_2024 .section_bdonly_box .product_info_item:not(:first-child) {padding-left:28px;}
.renewal_2024 .section_bdonly_box .product_info_item + .product_info_item:before {content:'';position:absolute;left:0;width:1px;height:52px;background-color:#F3F4F8;}
.renewal_2024 .section_bdonly_box + .my_status_list {margin-top:32px;}
.renewal_2024 .my_status_list {counter-reset:num;}
.renewal_2024 .my_status_list .my_status_step {position:relative;padding:5px 0 32px 72px;min-height:56px;box-sizing:border-box;}
.renewal_2024 .my_status_list .my_status_step:before {z-index:1;position:absolute;top:0;left:0;counter-increment:num;content:counter(num);display:inline-block;width:56px;height:56px;line-height:50px;text-align:center;font-size:22px;font-weight:700;color:#878787;background-color:#fff;border-radius:50%;border:4px solid #E5E8F0;box-sizing:border-box;}
.renewal_2024 .my_status_list .my_status_step:after {content:'';position:absolute;top:0;left:27px;bottom:0;width:2px;background:url('../image/contents/mypg/bg_dotted_line_2x2.png') repeat;background-size:2px auto;}
.renewal_2024 .my_status_list .my_status_step:last-child {min-height:56px;}
.renewal_2024 .my_status_list .my_status_step:last-child:after {display:none;}
.renewal_2024 .my_status_list .step_title {font-size:16px;font-weight:700;color:#878787;}
.renewal_2024 .my_status_list .step_title + .step_description {margin-top:4px;}
.renewal_2024 .my_status_list .step_description {font-size:14px;font-weight:400;color:var(--grayColor02);}
.renewal_2024 .my_status_list .my_status_step.done .step_title,
.renewal_2024 .my_status_list .my_status_step.active .step_title {color:var(--grayColor01);}
.renewal_2024 .my_status_list .my_status_step.active:before,
.renewal_2024 .my_status_list .my_status_step.done:before {color:var(--grayColor01);border-color:var(--primaryColor);}
.renewal_2024 .my_status_list .my_status_step.done:before {content:'';background:#fff url('../image/contents/mypg/bg_my_status_checked.png') no-repeat center center;background-size:22px auto;}
.renewal_2024 .my_status_list .my_status_step.done:after {background:url('../image/contents/mypg/bg_dotted_line_2x2_active.png') repeat;background-size:2px auto;}

/* 신용대출 > 한도조회결과(가능) ==> 권과님꺼. 충돌 안날랑가? */
.renewal_2024 .status_box.no_bg {padding:24px;}
.renewal_2024 .status_box .txt.type_01 {font-size:19px;font-weight:400;line-height:1.7;}

/* 신용대출 > 앱다운로드안내 */
.renewal_2024 .status_box.app_down {padding:20px 20px 15px;}
.renewal_2024 .status_box.app_down .down_intro_item + .down_intro_item {padding-top:15px;border-top:1px solid #C5DBED;}
.renewal_2024 .status_box.app_down .down_intro_item {display:flex;justify-content:space-between;}
.renewal_2024 .status_box.app_down .down_intro_item:first-child {padding-bottom:17px;padding-left:75px;background:url('../image/contents/cdln/ico_appDownload.png') no-repeat left 5px top;background-size:61px auto;}
.renewal_2024 .status_box.app_down .down_intro_item .text {font-size:14px;font-weight:400;}
.renewal_2024 .status_box.app_down .down_intro_item .text strong {font-size:16px;}
.renewal_2024 .status_box.app_down .down_intro_item .btn_sm_main {margin-top:10px;}
.renewal_2024 .status_box.app_down .down_intro_item .text.has_ico {padding-left:45px;background:url('../image/contents/cdln/ico_shield_22x22.png') no-repeat left 14px center;background-size:22px auto;}
.renewal_2024 .status_box.app_down + .section_appdown_intro {margin-top:32px;}
.renewal_2024 .section_appdown_intro .tit_big + .text_normal {margin-top:12px;}
.renewal_2024 .section_appdown_intro .text_normal + .img_box {margin-top:20px;}
.renewal_2024 .section_appdown_intro .ebullet_circle {margin-top:20px;}
.renewal_2024 .section_appdown_intro .ebullet_circle li + li {margin-top:16px;}

/* 신용대출 > 인증코드찾기 - 팝업 title case */
.modal_popup.ty_alert .popup_layout .popup_body .popup_container.pd20 {padding:20px;}
.modal_popup .popup_layout .popup_header .ebtitle3.alL {padding-left:20px;font-size:16px;font-weight:700;}
.modal_popup .popup_header .popup_title .popup_logo + .title {margin-left:4px;}
.modal_popup .popup_header .popup_title .popup_logo {display:inline-block;width:146px;height:55px;}
.modal_popup .popup_header .popup_title .popup_logo img {width:100%;vertical-align:middle;}
.modal_popup .popup_header .popup_title .title {display:inline-block;font-size:16px;font-weight:bold;vertical-align:top;}

/* 신용대출 > 신용대출 이어하기 알럿 */
.alert_text_part .text_strong {font-weight:bold;color:var(--grayColor01);}
.alert_text_part p + .text_strong {margin-top:12px;}

/* 신용대출 > 대출신청완료 */
.renewal_2024 .desc_box.has_divider_thin {margin-top:30px;padding-top:30px;border-top:1px solid #F0F0F0;}

/* 전체메뉴 > 전체메뉴검색 - 최근검색어 => header 검색영역은 .renewal_2024 제거 */
.header_gnb_search.input_pack {margin-top:6px;padding-left:31px;height:44px;}
.header_gnb_search.input_pack:after {display:none;}
.header_gnb_search.input_pack .gnb_search_input {font-size:15px;background-color:#F5F6FA;}
.header_gnb_search.input_pack .btn_input_clear {right:40px;width:32px;height:44px;background:url('../image/component/ico_input_clear_24X24.png') no-repeat center center;background-size:24px auto;}
.header_gnb_search.input_pack .gnb_search_btn {width:40px;}
.renewal_2024 .recently_keyword_box {margin-left:-5px;margin-right:-5px;padding-top:20px;}
.renewal_2024 .recently_keyword_head {display:flex;justify-content:space-between;}
.renewal_2024 .recently_keyword_head .title {font-size:18px;}
.renewal_2024 .recently_keyword_head .btn_text {font-size:14px;color:var(--grayColor03);}
.renewal_2024 .recently_keyword_head + .recently_keyword_list {margin-top:20px;}
.renewal_2024 .recently_keyword_item + .recently_keyword_item {margin-top:20px;}
.renewal_2024 .recently_keyword_item {display:flex;}
.renewal_2024 .recently_keyword_item .keyword {flex:1;font-size:14px;}
.renewal_2024 .recently_keyword_item .date {font-size:14px;color:#878787;}
.renewal_2024 .recently_keyword_item .date + .btn_del {margin-left:4px;}
.renewal_2024 .recently_keyword_item .btn_del {width:17px;;height:17px;background:url('../image/component/ico_delete_14x14.png') no-repeat right center;background-size:14px;}
.renewal_2024 .recently_keyword_list + .recently_keyword_btm {margin-top:32px;} 

/* 전체메뉴 > 전체메뉴검색 - 인기검색어 */
.renewal_2024 .recently_keyword_box + .popular_keyword_box {margin-top:12px;}
.renewal_2024 .popular_keyword_box {padding-top:20px;}
.popular_keyword_head .title {font-size:17px;font-weight:500;}
.renewal_2024 .popular_keyword_list {display:flex;flex-wrap:wrap;}
.renewal_2024 .popular_keyword_list .popular_keyword_item {margin-right:6px;margin-bottom:6px;}
.renewal_2024 .popular_keyword_list .keyword {display:inline-block;padding:8px 12px;font-size:14px;background-color:#F5F6FA;border-radius:15px;}
.renewal_2024 .popular_keyword_head + .popular_keyword_list {margin-top:20px;}

/* 전체메뉴 > 검색결과없음 */
.no_data_box {position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);}
.no_data_box .alert_title_part + .alert_text_part {padding-top:8px;}

/* 전체메뉴 > 검색결과 */
.renewal_2024 .search_result_box.has_divider {position:relative;margin-top:32px;padding-top:44px;}
.renewal_2024 .search_result_box.has_divider:after {content:'';position:absolute;top:0;left:-25px;right:-25px;height:12px;background-color:var(--grayColor04);}
.renewal_2024 .search_result_head {padding-bottom:20px;}
.renewal_2024 .search_result_head .num,
.renewal_2024 .search_result_box .text_keyword {color:var(--primaryColor);font-style:normal;}
.renewal_2024 .search_result_list {padding:25px 0;border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;}
.renewal_2024 .search_result_item + .search_result_item {margin-top:22px;}
.renewal_2024 .search_result_item .name {font-size:16px;font-weight:700;}
.renewal_2024 .search_result_item .location {margin-top:8px;font-size:14px;color:#878787;}

/* 마이페이지 > 전체대출내역조회 > 계좌상세 - 상단 문서 발송 아이콘 변경(전체 적용) */
.page_title_part .btn_icon_golink {background:url('../image/component/ico_doc_download_34x34.png') no-repeat right center;background-size:34px;}





/* 임시 - 중간보고용 */
.btn_handle {cursor:pointer;}